@model YemekSepetiProjesi.Models.Entity.TBLMusteriler
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    @using (Html.BeginForm("Guncelle", "Musteriler", FormMethod.Post))
{
    <div class="form-group" style="width:80%; margin:auto; margin-top:100px">
        @Html.LabelFor(m => m.MusteriId)
        @Html.TextBoxFor(m => m.MusteriId, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.MusteriAdi)
        @Html.TextBoxFor(m => m.MusteriAdi, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.MusteriSoyad)
        @Html.TextBoxFor(m => m.MusteriSoyad, new { @class = "form-control" })
    </div>
    <div style="width:80%; margin:auto; margin-top:20px">
        <button class="btn btn-warning">Güncelle</button>
    </div>
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

